$main-accent-color: #060b35;
$secondary-color: #616070;
$accent-color: #00acdc;
$card-width: 200px;
$card-title--hover: #34568b;
$card-border-color: #f3f3f3;
$card-background-color: #fff;
$link-color: #fff;
$header__link--height: 60px;
$nav__link--color: #060b35;
$things__gaps: 46px 48px;
$small__screen: 488px;
$medium__screen: 768px;
$large__screen: 1024px;
